
<div class="card">
  <div class="card-header">
   {{User.first_name}} {{User.last_name}} <p class="card-text font-italic w-100 text-right text-secondary" style="font-size: 0.725rem">Last updated {{updatedAt}}</p>
  </div>
  <div class="card-body" data-postId = {{id}}>
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{content}}</p>
    {{#if comments}}
    {{#each comments}}
    <div class="my-4">{{>comment}}</div>
    {{/each}}
    {{/if}}
 <a href = "/posts/{{id}}" class ="btn btn-primary">View Post</a>


  </div>
  
</div>
