<div class="card" >
  <div class="card-header">
   <h5>{{post.User.first_name}} {{post.User.last_name}}</h5>
   <p class="card-text font-italic w-100 text-right text-secondary" style="font-size: 0.725rem">Last updated {{post.updatedAt}}</p>
  </div>
  <div class="card-body" id ="singlePostId" data-postId = {{post.id}}>
    <h5 class="card-title">{{post.title}}</h5>
    <p class="card-text">{{post.content}}</p>
  </div>
   {{#if post.Comments}}
    {{#each post.Comments}}
    <div class="my-4">{{>comment}}</div>
    {{/each}}
    {{/if}}
  <div class="input-group">
                <input type="text" id="commentBox" class="form-control" placeholder="Comment" aria-label="Comment" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <a class="btn btn-primary" id="commentSubmitter">Submit</a>
                </div>
              </div>
</div>